@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Source+Sans+Pro:wght@200;300;400&display=swap");
:root {
    --fontFamily: 'Source Sans Pro', sans-serif;
    --logo: 'Pacifico', cursive;
    --fontSize: 18px;
    --white: #fff;
    --bg: #f4f4f4;
    --red: #EF6480;
    --headings: #444444;
    --text: #676767;
    --transition: .3s ease;
    --padding: 100px 0;
}
/* basic styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--fontFamily);
    font-size: var(--fontSize);
    color: var(--text);
    background: var(--bg);
    font-weight: 200;
    line-height: 1.6;
}
.container {
    width: 80%;
    margin: auto;
}
h1, h2, h3, h4, h5, h6 {
    color: var(--headings);
}
h2 {
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 7px;
    margin: 50px 0;
}
button {
    border: 2px solid var(--headings);
    padding: 20px 40px;
    border-radius: 5px;
    font-size: 1rem;
    margin-top: 30px;
    background: transparent;
    text-transform: uppercase;
    letter-spacing: 4px;
    cursor: pointer;
    transition: var(--transition);
}
button:hover {
    border: 2px solid var(--red);
    color: var(--red);
    
}
/* header */
header {
    background-image: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), url(images/banner.jpg);
    height: 60vh;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header h1 {
    font-family: var(--logo);
    font-size: 5rem;
    color: var(--white);
    letter-spacing: 2px;
}
header .underline {
    width: 35%;
    height: 2px;
    background: var(--white);
    margin: 20px auto 50px;
}
header p {
    font-size: 1.2rem;
    text-transform: uppercase;
    color: var(--white);
    opacity: .7;
    letter-spacing: 4px;
}
header p a {
    text-decoration: none;
    color: var(--white);
    opacity: .7;
    transition: var(--transition);   
}
header p a:hover {
    color: var(--red);
    cursor: pointer;
}
/* intro */
.intro {
    background: var(--white);
    padding: var(--padding);
    margin: 100px auto;
    text-align: center;
}
.intro i {
    font-size: 2.5rem;
    border: 2px solid var(--text);
    padding: 50px;
    border-radius: 50%; 
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 70px;
    margin: auto;
}
.intro p,
.blog article .text p,
footer p {
    font-size: 1.4rem;
    padding-bottom: 30px;
}
/* blog */
.blog {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.blog article {
    flex: 0 0 48%;
    margin-bottom: 60px;
}
.blog article .holder {
    overflow: hidden;
}
.blog .holder a {
    display: block;
    transition: var(--transition);
}
.blog .holder a:hover {
    transform: scale(1.1);
    cursor: pointer;
}
.blog article .featured-image {
    position: relative;
}
.blog article .featured-image img {
    width: 100%;
    display: block;
    border-radius: 5px 5px 0 0;
    opacity: 1.5;
    
}
.blog article .featured-image img:hover {
    cursor: pointer;
    transform: scale(1.1);
}
.featured-image h3 {
    position: absolute;
    top: 40%;
    left: 30%;
    text-transform: uppercase;
    color: var(--white);
    font-size: 1.6rem;
    letter-spacing: 3px;
    font-weight: 400;
    text-shadow: 0 0 3px black	;
}
.blog article .text {
    padding: 80px;
    background: var(--white);
    text-align: center;
    border-radius: 0 0 5px 5px;
}
/* footer */
footer {
    text-align: center;
}
/*
footer button {
    margin-bottom: 40px;
}*/
footer .underline {
    width: 8%;
    background: var(--headings);
    height: 2px;
    margin: 120px auto 120px auto;
}
footer i {
    font-size: 1.6rem;
    color: var(--text);
    margin:0 10px
}
footer .copy {
    margin: 80px 0;
    color: var(--text);
    font-size: 1.2rem;
}
footer .copy a {
    color: var(--text);
    margin-bottom: 5px;
    text-decoration: none;
}
footer .copy a:hover {
    color: var(--red);
    cursor: pointer;
}


